body {
    width: 60%;
    margin: auto;
    background-color: #444;
    font-family: fantasy;
    color: gold;
}

#header {
    text-align: center;
    font-size: 60px;
    margin: 25px;
}

#container {
    display: grid;
    grid-template-rows: 20px 200px 100px 400px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
}

#players {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 1fr;
    margin: 20px 0;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

#choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
    font-size: 35px;
    vertical-align: middle;
}



#chatbox {
    height: 200px;
    width: 500px;
    overflow: auto;
    margin: auto;
    border: 2px solid black;
}

#cht {
    margin: 10px;
}

.dcd {
    color: pink;
}

.joined {
    color: lightgreen;
}

.localChat {
    color: lightblue;
}

.remoteChat {
    color: orange;
}